<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appmatematicadaniel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground_calc"
        android:label="@string/nombreApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppMatematicaDaniel">
        <activity
            android:name=".ActivityZonaPrivada"
            android:exported="true" />
        <activity
            android:name=".ActivityAcercaDe"
            android:exported="true" />
        <activity
            android:name=".ActivityPrimos"
            android:exported="true" />
        <activity
            android:name=".ActivityParImpar"
            android:exported="true" />
        <activity
            android:name=".ActivityNumRandom"
            android:exported="true" />
        <activity
            android:name=".ActivityFormulasMatematicas"
            android:exported="true" />
        <activity
            android:name=".ActivityCalculadora"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>